xrandr -s 1920x1080                                # In VM aktivieren
nitrogen --restore &                                # setzt letztes Wallpaper -> mit & lauft es im Hintergrund?
picom -f &                                          # setzt Einstellungen des Compositors for Windows
#touch /var/lock/subsys/local                       # Testob Skript gelaufen ist
#echo "Skript ausgeführt meldet ManePC whoop whoop" 'date' >> ~/bootup.log
